<div class="after-h1">
<a class="twitter-share-button" 
href="https://twitter.com/intent/tweet?text=<%= CGI.escape(src_title) -%>&via=ponnappa">Tweet</a>
<a class="twitter-follow-button" href="https://twitter.com/ponnappa">Follow @ponnappa</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
