<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:ital,wght@1,700&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
      :root {
          --html-font-size: 18px;
          --title-font-family: 'Playfair Display';
          --title-font-style: italic;
          --title-font-size: 3rem;
          --title-font-weight: 400;
          --header-font-family: 'Montserrat';
          --header-font-weight: 700;
          --header-font-style: italic;
          --header-2-padding-bottom: 0.25em;
          --header-2-font-size: 2rem;
          --header-3-font-size: 1.6818rem;
          --header-4-font-size: 1.4142rem;
          --header-5-font-size: 1.1892rem;
          --header-margin-top: 1.7em;
          --header-margin-bottom: 0.8em;
          --header-margin-left: -2px;
          --content-width-large-screen: 720px;
          --content-font-family: 'Fira Sans';
          --content-line-height: 1.5em;
          --content-font-weight: 400;
          --paragraph-spacing: 1.5rem;
          --paragaph-font-size: 1rem;
          --toc-font-weight: 400;
      }

      @media only screen and (min-width: 64em) {
          div.content {
              width: var(--content-width-large-screen);
          }
      }

      div.x-comparison {
          font-size: 32px;
      }

      div.x-comparison span.x-comparison-title {
          font-family: var(--title-font-family);
          font-weight: var(--title-font-weight);
      }

      div.x-comparison span.x-comparison-header {
          font-family: var(--header-font-family);
          font-weight: var(--header-font-weight);
      }

      div.x-comparison span.x-comparison-body {
          font-family: var(--content-font-family);
          font-weight: var(--content-font-weight);
      }

      html {
          font-size: var(--html-font-size);
      }

      body {
          font-family: sans-serif;
          color: #000000;
      }

      div.content-wrapper {
      }

      div.content {
          line-height: var(--content-line-height);
          font-weight: var(--content-font-weight);
          font-family: var(--content-font-family);
      }

      h1 {
          font-family: var(--title-font-family);
          font-style: var(--title-font-style);
          font-size: var(--title-font-size);
          font-weight: var(--title-font-weight);
      }

      h2 {
          font-size: var(--header-2-font-size);
          padding-bottom: var(--header-2-padding-bottom);
          border-bottom: 1px solid #eaeaea;
      }

      h3 {
          font-size: var(--header-3-font-size);
      }

      h4 {
          font-size: var(--header-4-font-size);
      }

      h4 {
          font-size: var(--header-5-font-size);
      }

      h2, h3, h4, h5 {
          font-family: var(--header-font-family);
          font-weight: var(--header-font-weight);
          font-style: var(--header-font-style);
          margin-top: var(--header-margin-top);
          margin-left: var(--header-margin-left);
          margin-bottom: var(--header-margin-bottom);
      }

      h2 a.header-anchor, h3 a.header-anchor,
      h4 a.header-anchor, h5 a.header-anchor {
          float: left;
          margin-left: -20px;
          text-decoration: none;
          outline: none;
          position: relative;
      }

      h2 a.header-anchor:after, h3 a.header-anchor:after,
      h4 a.header-anchor:after, h5 a.header-anchor:after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M9.683 6.676l-.047-.048C8.27 5.26 6.07 5.243 4.726 6.588l-2.29 2.29c-1.344 1.344-1.328 3.544.04 4.91 1.366 1.368 3.564 1.385 4.908.04l1.753-1.752c-.695.074-1.457-.078-2.176-.444L5.934 12.66c-.634.634-1.67.625-2.312-.017-.642-.643-.65-1.677-.017-2.312L6.035 7.9c.634-.634 1.67-.625 2.312.017.024.024.048.05.07.075l.003-.002c.36.36.943.366 1.3.01.355-.356.35-.938-.01-1.3l-.027-.024zM6.58 9.586l.048.05c1.367 1.366 3.565 1.384 4.91.04l2.29-2.292c1.344-1.343 1.328-3.542-.04-4.91-1.366-1.366-3.564-1.384-4.908-.04L7.127 4.187c.695-.074 1.457.078 2.176.444l1.028-1.027c.635-.634 1.67-.624 2.313.017.643.644.652 1.678.018 2.312l-2.43 2.432c-.635.634-1.67.624-2.313-.018-.024-.024-.048-.05-.07-.075l-.003.004c-.36-.362-.943-.367-1.3-.01-.355.355-.35.937.01 1.3.01.007.018.015.027.023z'/%3E%3C/svg%3E");
          box-sizing: border-box;
          font-size: medium;
          visibility: hidden;
      }

      h2:hover a.header-anchor:after, h3:hover a.header-anchor:after,
      h4:hover a.header-anchor:after, h5:hover a.header-anchor:after {
          visibility: visible;
      }

      div.content p, div.content ul, div.content ol {
          font-size: var(--paragaph-font-size);
      }

      div.content p {
          margin-bottom: var(--paragraph-spacing);
      }

      ol#markdown-toc {
          font-weight: var(--toc-font-weight);
      }

      div.after-h1 {
          border-bottom: 1px solid #bbbbbb;
          margin-bottom: 1.5em;
      }

      div.embed {
          margin-top: 2.5rem;
          margin-bottom: 2.5rem;
          width: 100%;
          justify-content: center;
          display: flex;
      }

      div.footer {
          margin: 0.5em 0 0.5em 0;
      }

      div.bhook-cta a {
          font-size: x-small;
          text-decoration: none;
          margin-bottom: 1.5em;
          color: #bbbbbb;
      }

      table {
          margin: 0.5em 0 1em 0.5em;
      }

      table thead tr {
          background: #eeeeee;
      }

      table td, table th {
          padding: 0.1em 1em 0.1em 1em;
          border: 1px solid #bbbbbb;
      }

      blockquote {
          border-left: 10px solid #cccccc;
          background: #eeeeee;
          display: inline-block;
          padding: 1em;
      }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CT9TWBW0WR"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-CT9TWBW0WR');
  </script>
  <title><%= src_title -%></title>
</head>
<body>
<div class="body container">
  <div class="content-wrapper row justify-content-center">
    <div class="content col-10">
      <%= output %>
    </div>
  </div>
  <div class="footer d-flex justify-content-center">
    <div>
      <% short_sha = src_file_sha ? src_file_sha[0..7] : nil -%>
      <% if file_url && short_sha -%>
        v. <a href="<%= file_url -%>"><%= short_sha -%></a>,
      <% elsif short_sha -%>
        v. <%= short_sha -%>,
      <% end -%>
      <%= src_file_date -%> © <a href="https://sidu.in">Sidu Ponnappa</a>
    </div>
  </div>
  <div class="bhook-cta d-flex justify-content-center">
    <a href="https://gitlab.com/kaiwren/bhook" target="_blank">powered by bhook</a>
  </div>
</div>
</body>
</html>
